body{background:url(../images/bg.jpg) no-repeat -88px center; overflow: hidden; height:100%;}
.clock{background:url(../images/nav-1.png) no-repeat; width:0; 
	height:0; background-size:contain; margin:100px auto; opacity:0;
	-webkit-animation:1s rotation linear forwards;  position:relative;
-moz-animation:1s rotation linear forwards;}
@-webkit-keyframes beat{
	0{-webkit-transform:translateY(0);}
	50%{-webkit-transform:translateY(-100px);}
	100%{-webkit-transform:translateY(0);}
}
@-webkit-keyframes rotation{
	to{width:440px; height:440px; opacity:1; -webkit-transform:rotate(360deg);}
}
@-webkit-keyframes fadeInOut{
	50%{opacity:0.5; -webkit-transform:scale(1.2);}
	100%{opacity:0; -webkit-transform:scale(1.5);}
}
@-moz-keyframes beat{
	0{-moz-transform:translateY(0);}
	50%{-moz-transform:translateY(-100px);}
	100%{-moz-transform:translateY(0);}
}
@-moz-keyframes rotation{
	to{width:440px; height:440px; opacity:1; -moz-transform:rotate(360deg);}
}
@-moz-keyframes fadeInOut{
	50%{opacity:0.5; -moz-transform:scale(1.2);}
	100%{opacity:0; -moz-transform:scale(1.5);}
}
.clock .tick span.beat{-webkit-animation:.4s beat cubic-bezier(0.92, 0.26, 0.11, 1.13);
	-moz-animation:.4s beat cubic-bezier(0.92, 0.26, 0.11, 1.13);}
.clock .round{width:30px; height:30px; background:rgba(255,255,255,0.3); position:absolute; 
	left:50%; top:0; 
	margin-left:-15px; border-radius:50%; margin-top:-15px; opacity:0;
}
.clock .round.jump{-webkit-animation:.5s fadeInOut linear infinite;
-moz-animation:.5s fadeInOut linear infinite;}
.clock .nav{width:348px; height:348px;border-radius:50%; position:absolute; 
	left:50%; top:50%; margin-left:-174px; margin-top:-174px;}
.clock .nav li{width:58px; height:58px;border-radius:50%; 
	position:absolute; left:50%; top:50%; margin-left:-29px; margin-top:-29px;
	 }
.clock .nav li div{overflow: hidden; width:58px; height:58px;border-radius:50%;}
.clock .nav li.tick{width:220px; height:300px;border-radius:50%; 
	position:absolute; left:50%; top:50%; margin-left:-110px; margin-top:-150px;
font-size:50px; color:#fff;text-align:center; line-height:300px; opacity:1;}
.clock .nav li img{width:58px; height:58px; opacity:0;}	
.clock .nav li p img{width:116px; margin-left:-30px; opacity:0;}
@-webkit-keyframes fillOutLi{
	to{-webkit-transform:scale(2);}
}
@-webkit-keyframes fillOutImg{
	to{opacity:1;}
}
@-webkit-keyframes fillOutPImg{
	to{opacity:1; -webkit-transform:translateY(-60px);}
}
@-moz-keyframes fillOutLi{
	to{-moz-transform:scale(2);}
}
@-moz-keyframes fillOutImg{
	to{opacity:1;}
}
@-moz-keyframes fillOutPImg{
	to{opacity:1; -moz-transform:translateY(-60px);}
}
.clock .nav li:hover div{-webkit-animation:.3s fillOutLi linear forwards;
	-moz-animation:.3s fillOutLi linear forwards;} 
.clock .nav li:hover img{-webkit-animation:.3s fillOutImg linear forwards;
-moz-animation:.3s fillOutImg linear forwards;}

.clock .nav li:hover p img{-webkit-animation:.3s fillOutPImg linear forwards;
-moz-animation:.3s fillOutPImg linear forwards;}

.btn{position:fixed; right:50px; top:50px; cursor:pointer;  width:40px; height:40px;}
.btn p{width:40px; height:3px; margin-bottom:10px; background:#fff; opacity:0.8;}
@-webkit-keyframes rock{
	to{-webkit-transform:translateX(5px);}
}
@-moz-keyframes rock{
	to{-moz-transform:translateX(5px);}
}
.btn p.rock{-webkit-animation:.3s rock cubic-bezier(0.16, 0.35, 0.38, 1.1);
-moz-animation:.3s rock cubic-bezier(0.16, 0.35, 0.38, 1.1);}

.layer{width:100%; height:100%; background:-webkit-linear-gradient(left,#e76452,#2ecbe4);
 position:absolute;left:0; top:0; font-size:20px; display:none;background:-moz-linear-gradient(left,#e76452,#2ecbe4);}
.layer .close{position:fixed; right:50px; top:50px; cursor:pointer; 
	background:url(../images/close.png) no-repeat; background-size:25px 25px; 
width:25px; height:25px;}
.layer .layerout{width:1110px; margin:0 auto;  height:100%;overflow:hidden; }
.layer .layerout ul{width:1120px;overflow:hidden; padding-left:30px; height:100%;}
.layer .layerout ul li{text-align: center; cursor:pointer; margin-right:60px; float:left;
-webkit-transform:translateY(-350px); -webkit-transition:1s all cubic-bezier(0.16, 0.35, 0.38, 1.1) forwards;
-moz-transform:translateY(-350px); -moz-transition:1s all cubic-bezier(0.16, 0.35, 0.38, 1.1) forwards;}
@-webkit-keyframes fall{
	to{-webkit-transform:translateY(160px)}
}
@-webkit-keyframes rFall{
	to{-webkit-transform:rotate(360deg)}
}
@-webkit-keyframes shaking{
	25%{-webkit-transform:translateX(-20px);}
	50%{-webkit-transform:translateX(0);}
	75%{-webkit-transform:translateX(20px);}
	100%{-webkit-transform:translateX(0);}
}
@-moz-keyframes fall{
	to{-moz-transform:translateY(160px)}
}
@-moz-keyframes rFall{
	to{-moz-transform:rotate(360deg)}
}
@-moz-keyframes shaking{
	25%{-moz-transform:translateX(-20px);}
	50%{-moz-transform:translateX(0);}
	75%{-moz-transform:translateX(20px);}
	100%{-moz-transform:translateX(0);}
}
.layer .layerout ul li.fall{-webkit-animation:.6s fall linear forwards;
-moz-animation:.6s fall linear forwards;}
.layer .layerout ul li p.rFall{-webkit-animation:.6s rFall cubic-bezier(0, 0.63, 0.79, 0.26);
-moz-animation:.6s rFall cubic-bezier(0, 0.63, 0.79, 0.26);}
.layer .layerout ul li a{color:#fff;}
.layer .layerout ul li p{margin:30px 0;}
.layer .layerout ul li div{width:160px; height:160px; border-radius: 50%; overflow: hidden;}
.layer .layerout ul li div img{width:160px; height:160px; -webkit-transition:0.5s all ease; 
	-moz-transition:0.5s all ease;}
.layer .layerout ul li:hover div{box-shadow:0 0 10px 20px rgba(233,233,233,0.6);}
.layer .layerout ul li:hover p{-webkit-animation:.6s shaking linear forwards;
-moz-animation:.6s shaking linear forwards;}




