@charset "utf-8";
/* CSS Document */

/* 左侧内容 begin */
.main-inform{ width:765px; overflow:hidden; } 
.m-mainshow{ width:763px; height:1495px; border:1px solid #d2d2d2; margin-bottom:35px; }
.mainshow-list{ margin-bottom:-1px; display:none; }
.mainshow-list.active{ display:block; }
.m-mainshow .mainshow-list li{ position:relative; font-size:14px; width:738px; height:160px; padding-left:25px; padding-top:26px; background-color:#f8f8f8; border-bottom:1px solid #d2d2d2; }
.m-mainshow .mainshow-list li img{ width:176px; height:135px; margin-right:38px; }
.mainshow-list li .list-intro{ width:500px; }
.list-intro h3{ font-size:18px; margin-bottom:10px; width:500px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.list-intro h3 a{ color:#404040; }
.list-intro p{ height:74px; line-height:22px; overflow:hidden; color:#4f4f4f; margin-bottom:10px; }
.list-intro p a{ color:#4f4f4f; }
.mainshow-list .intro-time{ width:100%; }
.list-intro span{ color:#a2a2a3; font-size:12px; line-height:22px; }
.mainshow-praise{ margin-right:5px; width:230px; display:none; overflow:hidden; }
.mainshow-praise a{ float:left; }
.mainshow-praise .span1{ width:22px; height:22px; background:url(../images/sina_icon.png) no-repeat; margin-right:11px; display:block; }
.mainshow-praise .span2{ width:22px; height:22px; background:url(../images/weixin_icon.png) no-repeat; margin-right:11px; display:block; margin-right:18px; }
.mainshow-praise .add{ height:18px; background:url(../images/add_icon.png) no-repeat left; padding-left:22px; padding-right:10px; line-height:22px; color:#e78e97; }
.mainshow-praise i{ width:1px; height:18px; background-color:#e5e5e5; font-style:normal; margin-right:12px; }
.mainshow-praise .reduce{ height:18px; background:url(../images/reduce_iconu.png) no-repeat left; padding-left:20px; }
.m-mainshow .mainshow-list li:hover{ background-color:#fff; }
.m-mainshow .mainshow-list li:hover h3 a{ color:#0c6fb1; }
.m-mainshow .mainshow-list li:hover .mainshow-praise{ display:block; }

/*内容页码*/
.main-informlist{ width:1100px; margin:0 auto; }
.main-informlist .main-pagenum{ position:relative; width:370px; height:30px; line-height:30px; font-size:12px; } 
.main-pagenum .pagenum-l{ width:16px; height:9px; position:absolute; left:0; top:10px; background:url(../images/page_left.png) no-repeat; }
.main-pagenum .pagenum-r{ width:16px; height:9px; position:absolute; right:0; top:10px; background:url(../images/page_right.png) no-repeat; }
.main-pagenum ul{ margin-left:44px; width:294px; }
.main-pagenum ul li{ width:29px; height:29px; background:url(../images/num_page_uc.png) no-repeat; text-align:center; line-height:29px; font-size:12px; float:left; margin-right:13px; }
.main-pagenum li a{ display:block; height:100%; color:#fff; text-align:center; }
.main-pagenum ul li.active{ background:url(../images/num_page_c.png) no-repeat; }
.main-pagenum ul li.active a{ color:#898989; }


/* 提现 begin */
.main-rlist{ width:312px; }
.main-informr{ top:0; }
.sidebar-content h3 { border:1px solid #626262; width:286px; height:36px; line-height:36px; padding-left:24px;  background-color:#4f4f4f; color:#fff; }
.sidebar-content h3 a { color:#fff; }
.sidebar-content h3 i{ font-style:normal; margin:0 21px; }
.sidebar-box-outter { display:none; border:1px solid #d2d2d2; border-top:none; width:310px; }
.sidebar-content div.active { display:block; }
.sidebar-box-list { width:310px; overflow:hidden; }
.sidebar-box-list li { padding-left:24px; height:36px; line-height:36px; border-bottom:1px solid #d2d2d2; margin-bottom:-1px; }
.sidebar-box-list a { display:block; height:36px; line-height:36px;  width:100%; }
.sidebar-box-list li.odd { background-color:#f8f8f8; }
.sidebar-box-list li.odd p{ float:left; width:70px; overflow:hidden; text-align:center; margin-right:20px; } 
.sidebar-box-list li.even { background-color:#eaeaea; }
.sidebar-box-list li.even p{ float:left; width:70px; overflow:hidden; text-align:center; margin-right:20px; }
/* 提现 end */