@charset "utf-8";
/* CSS Document */
/*清楚默认样式*/
body,div,p,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,img,input,b,strong,em,i,span,a{margin:0; padding:0;}
a{text-decoration:none;}
input{border:none; background: none; outline:none;}
textarea{outline:none; resize:none;}
li{list-style:none;}
b,strong{font-weight:normal;}
em,i{font-style:normal;}
img{display:block; border:none;}
body{overflow-x:hidden; background:#f2f2f2;}


/*通用*/
.fl{float:left; display:inline;}
.fr{float:right; display:inline;}
.clearFix:after{content:''; clear:both; display:block;}
.clearFix{zoom:1;}
