



.header{width:100%; background:#cf4646; position:relative;}
.header .nav{padding:15px 0;display:-webkit-box; display:-moz-box; display:-ms-box;}
.header .nav .title{width:98px;}
.header .nav .title a{font-size:18px; color:#fff;}
.header .nav .layout{-webkit-box-flex:1;width:100%;-moz-box-flex:1;-ms-box-flex:1; }
.header .nav .nav-list{ width:540px; display:-webkit-box;  display:-moz-box; display:-ms-box;}
.header .nav .nav-list li{-webkit-box-flex:1; -moz-box-flex:1; -ms-box-flex:1;}
.header .nav .nav-list li a{color:#fff; font-size:12px;}
.header .btn{background:url(../images/btn.png) no-repeat; height:34px; width:44px;position:absolute;
right:5px; top:15px; display:none;}
.banner{height:378px; background:#cf4646; text-align:center; line-height:378px;}
.banner p{color:#fff; }

.content{background:#fff; padding-top:60px;}
.content ul{overflow:hidden;}
.content li{ width:50%;float:left; margin-bottom:60px;}
.content li p{font-size:30px; color:#333; margin-bottom:15px;}
.content li div{font-size:16px; color:#333;}
@media (max-width:770px)
{
	
	.header .nav .nav-list{display:none;}
	.header .btn{display:block;}
	
}
@media (max-width:992px)
{
	.content li{width:100%;}
}
