header,footer{height:2.2rem; background:-webkit-linear-gradient(#ffc63f,#ffd646); 
	padding:0.375rem 0.75rem 0.225rem 1.45rem; box-sizing:border-box; display:-webkit-box;
position:relative;}
header h1{width:1.625rem; height:1.575rem; background:url(../images/logo.png) no-repeat;
text-indent: -222222rem; background-size:1.625rem 1.575rem;}
header .name{font-size:0.8rem; height:1.6rem;line-height:1.6rem;width:100%; 
	text-align: center;-webkit-box-flex:1;}
header .btn-box .btn{width:1.1rem; height:1.225rem; background:url(../images/btn.png) no-repeat 0 0.35rem;
 background-size:1.1rem 0.875rem; display:block;}
  header .btn-box ul{width:4.9rem; padding:0.825rem 0; background:rgba(0,0,0,0.5);
  	position:absolute;right:0; top:2.2rem; display:none;}
 header .btn-box ul li{width:100%; height:1.225rem; font-size:0.4rem; 
 	line-height: 1.225rem; text-align: center}
 header .btn-box ul li a{color:#fff;}
 header .btn-box ul li.on{background:#ffcf42;}
 .banner a{display:block; width:16rem; height:9.15rem;}
 .banner a img{width:16rem; height:9.15rem;}
 nav{width:16rem; overflow: hidden;}
 nav ul{padding:0.6rem 1.425rem; overflow: hidden; width:16.4rem;}
 nav ul li{float:left; text-align: center; margin-right:0.4rem;}
 nav ul li a{font-size:0.35rem; color:#000;}
 nav ul li a i{width:2.325rem; height:2.325rem; border-radius:50%; display:block; margin-bottom:0.25rem;}
 nav ul li:nth-child(1) a i{background:url(../images/about.png) no-repeat center center #4a10ff;
background-size:1.2rem 0.95rem;}
 nav ul li:nth-child(2) a i{background:url(../images/product.png) no-repeat center center #a123ff;
background-size:0.925rem 1.4rem;}
 nav ul li:nth-child(3) a i{background:url(../images/mien.png) no-repeat center center #ff21bd;
background-size:1.05rem 1.275rem;}
 nav ul li:nth-child(4) a i{background:url(../images/league.png) no-repeat center center #fc2255;
background-size:1.4rem 1.075rem;}
 nav ul li:nth-child(5) a i{background:url(../images/contact.png) no-repeat center center #fc8622;
background-size:1.125rem 1.15rem;}
.title{height:1.05rem; background:-webkit-linear-gradient(#ffb736,#ffbc39);
	padding:0.225rem 1.425rem 0.2rem; box-sizing:border-box; margin-bottom:0.625rem;}
.title h3{width:5.05rem; height:0.625rem; 
	background:url(../images/title_l.png) no-repeat 0.25rem center,
	url(../images/title_r.png) no-repeat 5.55rem center,#fff; 
	font-size:0.45rem; font-weight:normal; background-size:0.25rem 0.4rem;padding-left:0.8rem;}
.content-box{padding:0 1.425rem; margin-bottom:0.625rem;}
.content-box .about {overflow:hidden;width:13.15rem; }
.content-box .about img{width:5.825rem; height:3.6rem; margin-right:0.5rem; float:left;}
.content-box .about .text{font-size:0.35rem; float:left;width:6.8rem; text-indent:0.7rem;}
.content-box .about p a{color:#ff3d21;}
.content-box .product ul{width:13.15rem; padding:0.2rem 0; overflow: hidden;}
.content-box .product ul li{width:4.3rem; text-align: center; float:left;}
.content-box .product ul li .product-img{width:3.35rem; height:2.35rem; display:block;
 margin-left:-0.025rem; border-left:0.025rem dotted #000;  padding:0 0.5rem;}
.content-box .product ul li .product-img img{width:3.35rem; height:2.35rem;}
.content-box .product ul li p a{font-size:0.35rem; color:#000;}

.content-box .mein{width:13.35rem;overflow: hidden;}
.content-box .mein ul{width:13.8rem;}
.content-box .mein ul li{margin-right:0.45rem; float:left;}
.content-box .mein ul li img{width:6.45rem; height:2.9rem;}


footer ul{display:-webkit-box; width:100%;}
footer ul li{-webkit-box-flex:1; text-align: center; 
	background:url(../images/footer_1.png) no-repeat center 0.55rem; background-size:0.625rem 0.5rem;
padding-top:0.5rem;}
footer ul li a{font-size:0.35rem; color:#000;}