@charset "utf-8";
/*----重置----*/
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul { margin: 0; padding: 0 }
li { list-style: none; }
a { text-decoration: none; }
a:active { background:none; }
a img { display: block; border: none; }
input:focus { outline: 0 none transparent; }
input::-ms-clear { display:none; }
input, textarea { background:none; border:none; }
table { border-collapse: collapse; border-spacing: 0; }

/*----公共样式----*/
body { font-family: \5FAE\8F6F\96C5\9ED1;overflow-x:hidden;}
/*装所有东西的大盒子*/

html{font-size:20px;}
.wrap { width:16rem; margin: 0 auto; }
.clearfix:after { display: block; height: 0; content: "."; clear: both; visibility: hidden; }
.fl { float: left; }
.fr { float: right; }

