header{height:2.5rem;background:-webkit-linear-gradient(#fff,#ebebeb);
padding:0.5rem 0.6rem; box-sizing:border-box; display:-webkit-box;
-webkit-box-pack:center;-webkit-box-align:center; position:relative;}
header .btn{background:url(../images/back_bg.png) no-repeat; background-size:3.1rem 1.5rem;
width:3.1rem; height:1.5rem; position:absolute; left:0.6rem;top:0.5rem;}
header h1{ background:url(../images/logo.png) no-repeat; width:3.7rem;
	height:0.975rem;
 background-size:cover; text-indent:-9999px;}
 section ul.banner{margin-bottom:0.5rem;}
 section ul.banner li{height:6.7rem;}
 section ul.banner li img{width:16rem; height:6.7rem;}
 section .btn{width:16rem;height:0.25rem;position:relative; margin-bottom:1rem;}
 section .btn ul{overflow:hidden; position:absolute; left:50%; top:0; 
 	margin-left:-1.25rem;}
 section .btn ul li{width:0.25rem;height:0.25rem; background:#a9a9a9; border-radius:0.075rem; 
 	float:left; margin-right:0.25rem;}
 section .btn ul li.on{background:#ff4300;}
 section .list ul{width:16rem; overflow:hidden;}
 section .list ul li{width:25%;float:left; text-align:center;padding:0 calc((25% - 2rem) / 2); 
 	box-sizing:border-box; margin-bottom:1rem;}
 section .list ul li p{font-size:0.6rem;}
 section .list ul li i{width:2rem; height:2rem; border-radius:50%;display:block;}
 section .list ul li:nth-child(1) i{ 
	background:url(../images/list_1.png) no-repeat center center #ff3900;background-size:0.8rem 0.75rem;}
section .list ul li:nth-child(2) i{ 
	background:url(../images/list_1.png) no-repeat center center #8bca11;background-size:0.8rem 0.75rem;}
section .list ul li:nth-child(3) i{ 
	background:url(../images/list_1.png) no-repeat center center #000000;background-size:0.8rem 0.75rem;}
section .list ul li:nth-child(4) i{ 
	background:url(../images/list_1.png) no-repeat center center #ff529d;background-size:0.8rem 0.75rem;}
section .list ul li:nth-child(5) i{ 
	background:url(../images/list_1.png) no-repeat center center #cfa871;background-size:0.8rem 0.75rem;}
section .list ul li:nth-child(6) i{ 
	background:url(../images/list_1.png) no-repeat center center #ffb021;background-size:0.8rem 0.75rem;}
section .list ul li:nth-child(7) i{ 
	background:url(../images/list_1.png) no-repeat center center #2dc814;background-size:0.8rem 0.75rem;}
section .list ul li:nth-child(8) i{ 
	background:url(../images/list_1.png) no-repeat center center #f5493c;background-size:0.8rem 0.75rem;}
.hot-top{padding:0 0.5rem;}
.hot-top .title{height:0.5rem; padding:0.6rem 0; border-bottom:0.1rem solid #dcdcdc; 
	overflow:hidden; margin-bottom:0.75rem;}
.hot-top .title h3{font-size:0.7rem; padding-left:0.5rem; border-left:0.1rem solid #d51938; float:left;}
.hot-top .title p{float:right; font-size:0.7rem;}
.hot-top .hot-top-list li{margin-bottom:0.5rem; overflow:hidden;}
.hot-top .hot-top-list li i{width:1.5rem; height:3rem; background:#ffb400; float:left; text-align:center;
line-height:3rem; color:#fff;font-size:0.9rem;font-style:normal;}
.hot-top .hot-top-list li i.first{background:#e00202;}
.hot-top .hot-top-list li i.sec{background:#ff4800;}
.hot-top .hot-top-list li i.third{background:#ff7300;}
.hot-top .hot-top-list li img{width:4.5rem; height:3rem; float:left;}
.hot-top .hot-top-list .list-text{background:#f4f4f4; width:7.9rem; height:1.9rem; float:left; 
	overflow:hidden; padding:0.55rem; font-size:0.6rem; color:#999;}
.hot-top .hot-top-list .list-text-left{float:left;}
.hot-top .hot-top-list .list-text-left em,
.hot-top .hot-top-list .list-text-right em{color:#c7223d; font-style:normal;}
.hot-top .hot-top-list .list-text-right{float:right;padding:0.35rem 0;}
.hot-top-bottom {height:2rem; background:#f5f5f5; margin-bottom:0.5rem; 
	text-align:center; line-height:2rem; font-size:0.65rem; color:#666;}


.nav-list {padding:0 0.5rem;overflow:hidden; color:#999; margin-bottom:0.5rem;}
.nav-list ul{border:0.025rem solid #eee;width:11.2rem;}
.nav-list div img{width:3.75rem; height:8.8rem;}
.nav-list ul li{width:3.725rem; height:2.2rem; text-align:center; line-height:2.2rem;
 border-top:0.025rem solid #eee; border-left:0.025rem solid #eee; margin-left:-0.025rem; 
 margin-top:-0.025rem; float:left;}
 .nav-list li.red{color:#d51942;}


.client{width:15rem; display:-webkit-box; padding:0 0.5rem; font-size:0.65rem; color:#fff;}
.client li{text-align:center; -webkit-box-flex:1; height:1.2rem;padding-top:2.8rem; }
.client li:nth-child(1){background:url(../images/apple.png) no-repeat center 0.8rem #38a4f1;
	background-size:0.95rem 1.1rem;}
.client li:nth-child(2){background:url(../images/apple.png) no-repeat center 0.8rem #8bca11;
background-size:0.95rem 1.1rem;}
.client li:nth-child(3){background:url(../images/apple.png) no-repeat center 0.8rem #ff7404;
background-size:0.95rem 1.1rem;}

footer{padding:0 0.75rem; height:2.2rem; line-height:2.2rem; background:#fff;font-size:0.65rem;
color:#333;}
footer ul {overflow:hidden; float:left;}
footer ul li{float:left; margin-right:1.2rem; }
footer .top{float:right;}
.footer-text{background:#eee; text-align:center; height:2.65rem; padding-top:1rem;}
.footer-text span{font-size:0.7rem; color:#333; margin-bottom:0.75rem;}
.footer-text p{font-size:0.45rem; color:#999;}